{% extends "boxdriveapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <h2>Your files:</h2>
    </div>
    <!--Posts -->
    {% for document in documents %}
    <div class="container my-4 alert alert-success">
        <div class="card">
            <h5 class="card-header">By <a style="text-decoration:none; color:#DC3545;" href="{% url 'profile'%}">{{document.cur_user}}</a></h5>
            <div class="card-body">
                <h5 class="card-title">{{document.title}}</h5>

                <a href="{{document.file_field.url}}" class="btn btn-warning" target="_blank">View</a>
                <a href="{{document.file_field.url}}" class="btn btn-info mx-4" download>Download</a>
                <a href="{% url 'post-delete' document.id %}" class="btn btn-outline-danger" style="float:right;">Delete</a>

            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}
